.cart-box {
    display: flex;
    align-items: center;
    padding: 20px;
    border-bottom: 1px solid #eee;
    .cart-avatar {
        width: 80px;
        margin-right: 20px;
        border-radius: 50%;
    }
    .cart-name {
        font-size: 32px;
        flex: 1;
    }
    .cart-desc {
        color: #999;
        font-size: 30px;
    }
}